
/* Filtros */
.title-filter {
	margin: 20px 0 20px 0;
}
#categoryFilter {
	float: left;
	width: 121px;
    margin-left: 20px;
}
#categoryFilter ul#categoryFilterList {
    border: 1px solid #e5e3e3;
    border-top: 5px solid #E60014;
}
#categoryFilter ul#categoryFilterList li {
    margin: -1px 0 1px;
    padding: 5px 0;
    border-top: 1px solid #ededed;
    background: #fff;
}
#categoryFilter ul#categoryFilterList li a {
	display: block;
	width: 110px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    padding: 3px 0 3px 10px;
}
#categoryFilter ul#categoryFilterList li a:hover{color:#fff;background:#E60014;text-decoration:none;}

/* Lista de produtos */
#productsBox {
	float: right;
	width: 840px;
	min-height: 400px;
    margin-right: 8px;
}
.productsList ul li {
    float: left;
    width: 158px;
    height: 340px;
    margin: 0 5px;
    padding: 20px 20px 0 20px;
    position: relative;
    background: #fff;
    margin-bottom: 10px;
}
.productsList ul li.row1 {
	border-top: none;	
}

/* Item de produto */
.prod-image img {
	display: block;	
}
.prod-name {
	display: block;	
	font-size: 1.1em;
	margin: 15px 0 10px 0;
}
.prod-default-price {
	display: block;
	font-size: 1.1em;
}
.prod-default-price em {
	text-decoration: line-through;
	font-style: normal;
}
.prod-sales-price {
	display: block;
	font-size: 1.4em;
}
.prod-installment {
	display: block;
	font-size: 1.2em;
	color: #E60014;
	margin-bottom: 5px;
}
.prod-ratingsImage img{
	display: inline;
}
.prod-numReviews {
	position: relative;
	top: -4px;
}
.btn-add-lista {
	display: block;
	width: 157px;
	height: 22px;
	background:url(../img/pais/produtos/btn-add-lista.gif) no-repeat;
	position: absolute;
	bottom:26px;
	z-index: 9;
    cursor: pointer;
}
.btn-add-lista.selected {
	background:url(../img/pais/produtos/btn-add-lista.gif) no-repeat 0 -22px;
}
.btn-avancar {
	clear:both;
	display: block;
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    background-color: #E60014;
    border: 0 none;
    cursor: pointer;
    color: #fff;
    padding: 0 26px;
    font-weight: bold;
}
.avancar-bottom {
	margin:  20px 0 10px 0;
}
.displayNone {
	display: none;
}
.clear {
	clear: both;
}
.left { float: left;}
.right { float: right;}
