.hs-dia-dos-pais {
	width: 1003px;
	margin: 0px auto 0px auto;
}
.hs-dia-dos-pais .clearFix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}
.hs-dia-dos-pais img {
	display: block;
	max-width: 100%;
}
.hs-dia-dos-pais :focus {
	outline: 0;
}
.hs-dia-dos-pais .colorful {
	background: #4aaade;
}
.hs-dia-dos-pais .colorful-home {
	background: #f7a600;
}
.hs-dia-dos-pais .page-products {
	width: 1004px;
	height: 180px;
	background: #4aaade url(../img/header-top-produtos.png) no-repeat;
}
.hs-dia-dos-pais .internals {
	padding: 20px 10px 100px 10px;
}
.hs-dia-dos-pais .hs-top-navigation {
    height: 142px;
	background: url(../img/pais/geral/header-bg.gif) no-repeat center center;
	position: relative;
}
.hs-dia-dos-pais .hs-top-navigation-produtos {
    height: 200px;
    background: #11729d url(../img/pais/produtos/header-produtos.gif) no-repeat left center;
}
.hs-dia-dos-pais .hs-top-navigation-produtos .btn-avancar {
    position: absolute;
    bottom: 36px;
    left: 258px;
    width: 71px;
}
.hs-dia-dos-pais .hs-top-navigation-produtos #header-produto {
    height: 200px;
    width: 574px;
    float: right;
}
.hs-dia-dos-pais .hs-top-navigation-produtos #header-produto.descolado {
    background: url(../img/pais/produtos/header-descolado.jpg) no-repeat left center;
}
.hs-dia-dos-pais .hs-top-navigation-produtos #header-produto.caseiro {
    background: url(../img/pais/produtos/header-caseiro.jpg) no-repeat left center;
}
.hs-dia-dos-pais .hs-top-navigation-produtos #header-produto.esportista {
    background: url(../img/pais/produtos/header-esportista.jpg) no-repeat left center;
}
.hs-dia-dos-pais .hs-top-navigation-produtos #header-produto.classico {
    background: url(../img/pais/produtos/header-classico.jpg) no-repeat left center;
}
.hs-dia-dos-pais .hs-top-navigation-produtos #header-produto.cultural {
    background: url(../img/pais/produtos/header-cultural.jpg) no-repeat left center;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu {
	margin-left: 105px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li {
	float: left;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a {
	height: 43px;
	display: block;
	text-indent: -9999px;
	background: url(../img/menu-top.jpg) no-repeat;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-home {
	width: 76px;
	background-position: 0 0;
}
.hs-dia-dos-pais .box-top-menu ul li a.menu-top-home:hover,
.hs-dia-dos-pais .box-top-menu ul li a.menu-top-home.selected {
	background-position: 0 -43px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-produtos {
	width: 105px;
	background-position: -66px 0;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-produtos:hover,
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-produtos.selected {
	background-position: -66px -43px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-social-media  {
	position: absolute;
	top: 12px;
	right: 0;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-social-media ul li {
	float: left;
	margin-right: 5px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-social-media ul li:last-child {
	margin-right: 0;
}

/* HOME */
.hs-dia-dos-pais .box-qual-estilo {
    height: 334px;
    background: #278ab3;
    color: #fff;
}
.hs-dia-dos-pais .box-qual-estilo .content {
    width: 680px;
    margin: 0 auto;
    padding-top: 30px;
}
.hs-dia-dos-pais .box-qual-estilo h2 {
    font-size: 27px;
    font-weight: normal;
}
.hs-dia-dos-pais .box-qual-estilo h3 {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
}
.hs-dia-dos-pais .box-qual-estilo .links-home ul li {
     float: left;
     margin-right: 20px;
 }
.hs-dia-dos-pais .box-qual-estilo .links-home ul li:last-child {
    margin-right: 0px;
}
.hs-dia-dos-pais .box-qual-estilo .links-home ul li span {
    display: block;
    text-align: center;
    color: #fcea53;
    text-decoration: underline;
}
#categoryFilter .title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

/* PASSO 2 */
.box-content-produtos-passo2 {
    background: #11729c;
    padding-bottom: 40px;
}
.hs-dia-dos-pais .hs-content {
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left {
    width: 318px;
    float: left;
    margin-left: 165px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li {
    margin-top: 20px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li:first-child {
    margin-top: 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li span,
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-form ul li span {
    color:  #fff;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li span.label,
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-form ul li span.label {
    font-size: 15px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li span.label {
    margin-bottom: 10px;
    display: block;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-form ul li span.label {
    display: inline-block;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li input[type=text] {
    width: 300px;
    color: #666666;
    border: 1px solid #cccccc;
    padding: 5px 8px;
}
.wrong {
    border: 1px solid #f00 !important;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-nome-email {
    width: 306px;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-nome-email input[type=text] {
    width: 300px;
    color: #666666;
    border: 0;
    padding: 2px;
    margin: 0 auto;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades {
    margin-top: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades * {
    vertical-align: middle;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades input[type=checkbox] {
    float: left;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades span {
    font-size: 13px;
    display: block;
    float: right;
    width: 290px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-button-avancar.amarelo a {
    background: #fcea53;
    color: #11729c;
    width: 52px;
}
.hs-dia-dos-pais .amarelo {
    background: #fcea53;
    color: #11729c;
    width: 52px;
    margin-right: 20px;
}
#stepMenu {
    margin-left: 177px;
    padding: 20px 0 40px;
}
#stepMenu li {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}
#stepMenu li.active {
    color: #fcea53;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right {
    float: left;
    position: relative;
    width: 295px;
    margin-left: 50px;
    padding-top: 28px;

}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens > ul > li {
    width: 295px;
    height: 117px;
    background: #ffffff;
    margin-bottom: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li:last-child {
    margin-bottom: 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item {
    padding: 15px 20px;
    position: relative;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item .btn-comprar {
    position: relative;
    top:10px;
    width: 120px;
    height: 17px;
    background: url(../img/pais/produtos/btn-compre-agora.gif) no-repeat center center;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li {
    float: left;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-image {
    float: left;
    width: 74px;
    height: 74px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-desc {
    float: right;
    width: 168px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-desc span {
    display: block;
    font-size: 14px;
    color: #505050;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-marker {
    width: 57px;
    margin-top: 50px;
}

/* PASSO 3 */
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left {
    width: 327px;
    float: left;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-saudacao {
    margin-top: 100px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-subtitle {
    margin-top: 55px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-subtitle span {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    font-style: italic;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul {
    margin-top: 30px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li.box-label *  {
    vertical-align: middle;
    margin-bottom: 7px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li.box-label span.icon-mail {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li .box-nome-email {
    width: 315px;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left ul li .box-nome-email .box-nome-email-inner {
    border-bottom: 1px solid #a8a7a7;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li .box-nome-email .box-nome-email-inner {
    border-bottom: 1px solid #a4d4ee;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li .box-nome-email input[type=text] {
    width: 312px;
    color: #666666;
    border: 0;
    padding: 2px;
    margin: 0 auto;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li input[type=submit] {
    width: 143px;
    height: 24px;
    margin-top: 10px;
    background: url(../img/button-enviar.jpg) no-repeat;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente {
    margin-top: 50px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li {
    float: left;
    margin-right: 7px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li:last-child {
    margin-right: 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a {
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
    background: url(../img/sprite-media-social.png) no-repeat;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a.button-facebook {
    background-position: 0 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a.button-twitter {
    background-position: -40px 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a.button-gplus {
    background-position: -79px 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-right {
    float: right;
}

/* ClASSES */
.btn-avancar a {
    clear:both;
    display: block;
    width: 65px;
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    background-color: #E60014;
    border: 0 none;
    cursor: pointer;
    color: #fff;
    padding: 0 26px;
    font-weight: bold;
}

#area03 { display: none; }
#area02 {margin-bottom: 0; padding: 0px;}
#footer {padding-top: 0;}