.hs-dia-dos-pais {
	width: 1003px;
	margin: 0px auto 20px auto;
}
.hs-dia-dos-pais .clearFix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}
.hs-dia-dos-pais  img {
	display: block;
	max-width: 100%;
}
.hs-dia-dos-pais :focus {
	outline: 0;
}
.hs-dia-dos-pais .colorful {
	background: #4aaade;
}
.hs-dia-dos-pais .colorful-home {
	background: #f7a600;
}
.hs-dia-dos-pais .page-products {
	width: 1004px;
	height: 180px;
	background: #4aaade url(../img/header-top-produtos.png) no-repeat;
}
.hs-dia-dos-pais .internals {
	padding: 20px 10px 100px 10px;
}
.hs-dia-dos-pais .hs-top-navigation {
    height: 142px;
	background: url(../img/pais/geral/header-bg.gif) no-repeat center center;
	position: relative;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu {
	margin-left: 105px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li {
	float: left;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a {
	height: 43px;
	display: block;
	text-indent: -9999px;
	background: url(../img/menu-top.jpg) no-repeat;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-home {
	width: 76px;
	background-position: 0 0;
}
.hs-dia-dos-pais .box-top-menu ul li a.menu-top-home:hover,
.hs-dia-dos-pais .box-top-menu ul li a.menu-top-home.selected {
	background-position: 0 -43px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-produtos {
	width: 105px;
	background-position: -66px 0;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-produtos:hover,
.hs-dia-dos-pais .hs-top-navigation .box-top-menu ul li a.menu-top-produtos.selected {
	background-position: -66px -43px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-social-media  {
	position: absolute;
	top: 12px;
	right: 0;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-social-media ul li {
	float: left;
	margin-right: 5px;
}
.hs-dia-dos-pais .hs-top-navigation .box-top-social-media ul li:last-child {
	margin-right: 0;
}
.hs-dia-dos-pais .hs-header {
	position: relative;
}
.hs-dia-dos-pais .hs-header .links-home {
	position: absolute;
	top: 508px;
	margin-left: 170px;
}
.hs-dia-dos-pais .hs-header .links-home ul {
	margin: 0;
}
.hs-dia-dos-pais .hs-header .links-home li {
	width: 111px;
	height: 139px;
	float: : left;
	margin-left: 27px;
}
.hs-dia-dos-pais .hs-header .links-home li:first-child {
	margin-left: 0;
}
.hs-dia-dos-pais .hs-header .links-home a {
	display: block;
	text-indent: -9999px;
	height: inherit;
}
.hs-dia-dos-pais .hs-header h1 {
	text-indent: -9999px;
	height: 0;
}
.hs-dia-dos-pais .hs-header ul {
	margin-top: 20px;
	margin-left: 110px;
}
.hs-dia-dos-pais .hs-header ul li {
	float: left;
	height: 127px;
	line-height: 127px;
}
.hs-dia-dos-pais .hs-header ul li:last-child {
	margin-left: 25px;
}
.hs-dia-dos-pais .hs-header ul li span {
	width: 127px;
	height: 127px;
	display: block;
	background: url(../img/produtos/sprite-top-icons.png) no-repeat 127px 0;
}
.hs-dia-dos-pais .hs-header ul li span.bem-estar {
	background-position: 0 0;
}
.hs-dia-dos-pais .hs-header ul li span.beleza {
	background-position: -137px 0;
}
.hs-dia-dos-pais .hs-header ul li span.sabor {
	background-position: -274px 0;
}
.hs-dia-dos-pais .hs-header ul li span.conforto {
	background-position: -411px 0;
}
.hs-dia-dos-pais .hs-header ul li span.tecnologia {
	background-position: -548px 0;
}
.hs-dia-dos-pais .hs-header ul li h2 {
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.hs-dia-dos-pais .hs-bar-navigation {
	background: #4aaadd;
	padding-top: 26px;
}
.hs-dia-dos-pais .hs-bar-navigation .box-breadcrumb {
	float: left;
	display: inline-block;
	margin-left: 10px;
}
.hs-dia-dos-pais .hs-bar-navigation .box-breadcrumb ul li {
	float: left;
}
.hs-dia-dos-pais .hs-bar-navigation .box-breadcrumb ul li span {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.hs-dia-dos-pais .hs-bar-navigation .box-breadcrumb ul li.current span {
	color: #f7a600;
}
.hs-dia-dos-pais .hs-bar-navigation .box-breadcrumb ul li.separator {
	margin: 0 10px;
}
.hs-dia-dos-pais .hs-bar-navigation .box-message {
	float: right;
	height: 20px;
	margin-right: 10px;
	position: relative;
}
.hs-dia-dos-pais .hs-bar-navigation .box-message span {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	position: relative;
	top: -10px;
}
.hs-dia-dos-pais .hs-bar-navigation .box-message a {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -4px;
}
.hs-dia-dos-pais .hs-bar-navigation .box-message span b {
	color: #6a3e91;
}
.hs-dia-dos-pais .hs-content .box-content-home .content-home {
	position: relative;
}
.hs-dia-dos-pais .hs-content .box-content-home .content-home a {
	display: block;
	width: 324px;
	height: 38px;
	text-indent: -9999px;
	position: absolute;
	top: 310px;
	margin-left: 131px;
	z-index: 100
	cursor:pointer;
	border: none;
	background: url(../img/btn-fazerlista.jpg) no-repeat;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left {
	width: 387px;
	float: left;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li {
	margin-top: 20px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li:first-child {
	margin-top: 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li span,
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-form ul li span {
	color:  #6a3e91;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li span.label,
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-form ul li span.label {
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li span.label {
	margin-bottom: 10px;
	display: block;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-form ul li span.label {
	display: inline-block;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li input[type=text] {
	width: 360px;
	color: #666666;
	border: 1px solid #cccccc;
	padding: 5px 8px;
}
.error {
	border: 1px solid #f00 !important;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-nome-email {
	width: 335px;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 5px;
	margin-top: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-nome-email .box-nome-email-inner {
	border-bottom: 1px solid #a4d4ee;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-nome-email input[type=text] {
	width: 329px;
	color: #666666;
	border: 0;
	padding: 2px;
	margin: 0 auto;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades {
	margin-top: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades * {
	vertical-align: middle;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades input[type=checkbox] {
	margin-right: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-left .box-form ul li .box-receber-novidades span {
	font-size: 13px;
	display: inline-block;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right {
	float: right;
	position: relative;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-button-avancar a {
	width: 143px;
	height: 24px;
	display: block;
	margin-left: 443px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-button-avancar.down {
	margin-top: 30px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li {
	width: 586px;
	background: #ffffff;
	margin-bottom: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li:last-child {
	margin-bottom: 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item {
	padding: 15px 20px;
	position: relative;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item .btn-comprar {
		position: relative;
		top:10px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li {
	float: left;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-image {
	width: 145px;
	height: 145px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-desc {
	width: 250px;
	margin: 0 50px 0 34px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-desc span {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #005f93;
	margin-top: 57px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-content-right .box-itens ul li .box-item ul li.box-item-marker {
	width: 57px;
	margin-top: 50px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left {
	width: 327px;
	float: left;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-saudacao {
	margin-top: 100px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-subtitle {
	margin-top: 55px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-subtitle span {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	font-style: italic;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul {
	margin-top: 30px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li.box-label *  {
	vertical-align: middle;
	margin-bottom: 7px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li.box-label span.icon-mail {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin-right: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li .box-nome-email {
	width: 315px;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 5px;
	margin-top: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li .box-nome-email .box-nome-email-inner {
	border-bottom: 1px solid #a4d4ee;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li .box-nome-email input[type=text] {
	width: 312px;
	color: #666666;
	border: 0;
	padding: 2px;
	margin: 0 auto;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left ul li input[type=submit] {
	width: 143px;
	height: 24px;
	margin-top: 10px;
	background: url(../img/button-enviar.jpg) no-repeat;
	border: 0;
	text-indent: -9999px;
	cursor: pointer;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente {
	margin-top: 50px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li {
	float: left;
	margin-right: 7px;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li:last-child {
	margin-right: 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a {
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -9999px;
	background: url(../img/sprite-media-social.png) no-repeat;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a.button-facebook {
	background-position: 0 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a.button-twitter {
	background-position: -40px 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-left .box-compartilhe-novamente ul li a.button-gplus {
	background-position: -79px 0;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo3 .box-content-right {
	float: right;
}
.hs-dia-dos-pais .box-listagem {
	float: none !important;
	width: 738px;
	margin: 0 auto;
	color: #fff;
}
.hs-dia-dos-pais .box-listagem .texto1 {
	font-size: 15px !important;
	margin-bottom: 20px;
}
.hs-dia-dos-pais .box-listagem .texto1 .txt1 {
	font-size: 22px;
	font-weight: bold;
}
.hs-dia-dos-pais .box-listagem .texto1 .txt2 {
	font-weight: bold;
	margin-bottom: 10px;
}
.hs-dia-dos-pais .box-listagem .texto2 {
	font-size: 22px;
	margin-top: 28px;
}
.hs-dia-dos-pais .box-listagem .texto2 .txt1 {
	font-weight: bold;
}
.hs-dia-dos-pais .hs-content .box-content-produtos-passo2 .box-listagem .box-itens ul li {
	width: 738px;
}
