#hsCurrent {
    padding: 10px 0 10px 0;
}
#hsMenuFilter {
    float: left;
    width: 176px;
    border: solid 1px #e5e5e5;
    padding: 20px 10px;
}
#hsMenuFilter > ul > li p {
    font-size: 1.4em;
    margin-bottom: 15px !important;
}
#hsMenuFilter > ul > li > ul {
    padding-left: 10px;
}
#hsMenuFilter > ul > li > ul li {
    margin-bottom: 15px;
    font-size: 1.3em;
}

/* BLOCO LISTA PRODUTOS */
#hsSearchFilter {
    width: calc(100% - 250px);
    float: right;
    height: 116px;
    padding: 20px;
    border: solid 1px #e5e5e5;
}
#hsCurrent .title {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #333;
}
#hsCurrent .subtitle {
    margin-bottom: 5px;
    font-size: 1.4em;
    color: #36acea;
    font-weight: bold;
}
#hsCurrent #hsSearchFilter .subtitle {
    font-size: 1.2em;
}
.search-not-found {
    font-size: 1.8em;
    word-spacing: 2px;
    padding-left: 24px;
    margin-bottom: 40px;
}
#hsSearchFilter > ul > li {
    float: left;
    margin-right: 14px;
}
#hsSearchFilter ul li:last-child {
    margin-right: 0px;
}
#hsSearchFilter ul li select {
    width: 152px;
    height: 27px;
}
#hsSearchFilter ul li select.round {
    height: 38px;
}
.btn-filter {
    display: block;
    width: 70px;
    height: 25px;
    padding-top: 2px;
    background: #39afec;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 22px;
}
.btn-filter.round {
    height: 19px;
    padding-top: 8px;
}
.btn-filter.load {
    background: #fff url(../img/ajax-loader.gif) no-repeat center center;
}

/* BLOCO LISTA PRODUTOS */
#hsProductList {
    clear: right;
    width: calc(100% - 208px);
    float: right;
    margin-top: 10px;
    padding: 0;
}
#hsProductList .grid .li {
    margin: 0 11px 20px 0px;
    height: 330px;
    width: 236px;
    border: solid 1px #e5e5e5;
    position: relative;
}
#hsProductList .grid .last {
    margin-right: 0;
}
#hsProductList .grid .loader {
    margin-top: 40px;
    height: 16px;
    background: url(../img/ajax-loader.gif) no-repeat center center;
}
#hsProductList .prod-warning {
    width: 48px;
    height: 48px;
    background: url(../img/warning.png) no-repeat center center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#hsProductList .pagination {
    clear: both;
    display: block;
    margin-bottom: 20px;
}
#hsProductList .pagination a {
    background: #f1f1f1;
    color: #999999;
    padding: 5px 8px;
    margin-right: 5px;
    cursor: pointer;
}
#hsProductList .pagination a.active,
#hsProductList .pagination a:hover {
    background: #fbc839;
    color: #fff;
}

/* CLASSES */
.round {
    border-radius: 0px;
}