body{margin:0; padding:0; }
a, img{border:0; outline:none; text-decoration:none;}

#monte_seu_pai{width:100%; overflow:hidden; background:#17c2a4; color:#fff; font-family: Gotham, Verdana, Geneva, sans-serif; border-bottom:5px solid #14a58c;}
#monte_seu_pai a{color:#fff;}

.topo_monte{width:100%; overflow:hidden;}
.ttl_monte_seu_pai{font-size:34px; color:#fff; font-weight:bold; text-align:center; float:left; padding:0 5% 0 10%; margin:30px 0 0; width:20%; border-right:3px solid #14a58c; background:url(../images/bg_monte_seu_pai.png) no-repeat 70%; text-indent:-9999px; min-height:60px;}
.txt_monte{font-size:15px; color:#fff; float:left; padding:5% 0 0 5%; background:url(../images/bg_txt_monte.png) no-repeat center; text-indent:-9999px; width:57%; min-height:60px;}

#divpreloader_avatar{background:#fff url(../images/loading.gif) no-repeat center;  position:absolute; z-index: 1000;}

#menu{display:block; padding:0; margin:100px 0 0 50px; width:150px; list-style:none; text-align:center; position:absolute;}
#menu a{color:#fff; font-size:14px;}
#menu li{display:block; padding:5%; margin:0; list-style:none; width:90%;}
#menu .seleciona_membro{padding:5px 10px;}
#menu .ativo .seleciona_membro, #menu li:hover .seleciona_membro{background:#0d927b; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
#menu .seleciona_cor{display:none; background:#0d927b; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; width:46%; padding:7%; margin:-23px 0 0 150px; position:absolute; overflow:hidden;}
#menu .seleciona_cor li{display:block; float:left; width:40%; padding:5%; margin:0;}
#menu .seleciona_cor li a{display:block; width:26px; height:26px;}
#menu .ativo .seleciona_cor{display:block;}
#menu .seleciona_tipo{display:none;}


#corcorpo_1{background:#fcdaca;}
#corcorpo_2{background:#f1af8d;}
#corcorpo_3{background:#cf8970;}
#corcorpo_4{background:#6e4230;}

#corcabelo_1{background:#53312e;}
#corcabelo_2{background:#efd592;}
#corcabelo_3{background:#f15727;}
#corcabelo_4{background:#c58d70;}
#corcabelo_5{background:#ad9996;}
#corcabelo_6{background:#dddad9;}

#corolhos_1{background:#9e4f33;}
#corolhos_2{background:#38a32a;}
#corolhos_3{background:#4d88e1;}
#corolhos_4{background:#000;}

#corsombrancelhas_1{background:#563429;}
#corsombrancelhas_2{background:#e0bc5a;}
#corsombrancelhas_3{background:#e54b28;}
#corsombrancelhas_4{background:#a6704c;}

#seletores{position:absolute; width:400px; overflow:hidden; margin:380px -200px 0 0; right:50%; z-index:2;}
#seletores .anterior{display:block; float:left; width:57px; height:57px; background:url(../images/seta_esquerda.png) center no-repeat;}
#seletores .proximo{display:block; float:right; width:57px; height:57px; background:url(../images/seta_direita.png) center no-repeat;}


#btns_dir{position:absolute; right:40px; margin-top:100px; overflow:hidden; width:210px; font-size:13px; text-align:center;}
#btns_dir .redes_sociais{display:block; margin:0; padding:10px; list-style:none; overflow:hidden;}
#btns_dir .redes_sociais li{display:block; float:left; margin:5px; padding:0; list-style:none;}
#btns_dir .quer_imprimir{display:block; margin:30px 0 0;}
#btns_dir .btn_imprimir{display:block; margin:10px auto;}
#btns_dir #btn_encontrar_presente{display:block; margin:30px auto; background:url(../images/btn_encontrar_presente.png) center no-repeat; width:209px; height:55px; line-height:55px; color:#fff;}


.avatar{width:360px; height:550px; margin:0 auto;}
.avatar img{display:block; width:100%;}
.avatar ul, .avatar ul li{display:block; margin:0; padding:0; list-style:none;}

.avatar .corpo{width:100%; overflow:hidden;}
.avatar .corpo .cor_corpo li{width:360px; height:450px; background:url(../images/corpo.png) 0px -900px no-repeat;}
.avatar .corpo .tipo_corpo{margin-top:100px; position:absolute;}
.avatar .corpo .looks{margin-top:-450px; width:360px; height:450px; position:absolute;}
.avatar .corpo .looks li{width:360px; height:450px; background:url(../images/look.png) 0 0 no-repeat;}

.avatar .corpo .cabeca{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .cabeca li{width:115px; height:180px; background:url(../images/cabeca.png) 0 0 no-repeat; margin:0 auto;}

.avatar .corpo .barba{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .barba li{width:115px; height:180px; background:url(../images/barba.png) 0 0 no-repeat; margin:0 auto;}

.avatar .corpo .boca{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .boca li{width:115px; height:180px; background:url(../images/boca.png) 0 0 no-repeat; margin:0 auto;}

.avatar .corpo .nariz{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .nariz li{width:115px; height:180px; background:url(../images/nariz.png) 0 0 no-repeat; margin:0 auto;}

.avatar .corpo .olhos{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .olhos li{width:115px; height:180px; background:url(../images/olhos.png) 0 0 no-repeat; margin:0 auto;}

.avatar .corpo .sombrancelha{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .sombrancelha li{width:115px; height:180px; background:url(../images/sombrancelhas.png) 0 0 no-repeat; margin:0 auto;}

.avatar .corpo .oculos{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .oculos li{width:115px; height:180px; background:url(../images/oculos.png) 0 0 no-repeat; margin:0 auto;}

.avatar .corpo .cabelo{width:100%; margin:-537px 0 0; position:absolute;}
.avatar .corpo .cabelo li{width:115px; height:180px; background:url(../images/cabelo.png) 0 0 no-repeat; margin:0 auto;}


.app-giftFinder{background:#fff; font-family: Gotham, Verdana, Geneva, sans-serif; border-bottom:5px solid #e4e4e4; min-height:614px; display:none;}

.ttl_gift_finder{font-size:34px; color:#00adef; font-weight:bold; text-align:center; float:left; padding:0 5% 0 10%; margin:30px 0 0; width:20%; border-right:3px solid #00adef; background:url(../images/bg_ttl_gift_finder.png) no-repeat 70%; text-indent:-9999px; min-height:60px;}
.subttl_gift_finder{font-size:15px; color:#00adef; float:left; padding:5% 0 0 5%; background:url(../images/bg_subttl_gift_finder.png) no-repeat center bottom; text-indent:-9999px; min-height:33px; width:50%;}

#pai_montado{width:32%; float:left; height:524px;}
.coracaozinho{background:url(../images/coracao.png) center no-repeat; float:left; width:15%; height:524px;}
.canvas-product{float:left; width:25%; min-height:350px; overflow:hidden; padding:150px 0 0; text-align:center; font-size:15px; color:#818181; font-weight:bold;}
.canvas-product .gf-price{font-size:20px; color:#00adef;}
.canvas-product img{width:250px;}
.box_buttons{float:left; overflow:hidden; width:25%; margin:180px 0 0 2%;}
.button{height:20px; padding:15px 2%; width:90%; margin:20px 0; text-align:center; font-size:12px; font-weight:bold; color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background:#00adef; border-bottom:#0093cb solid 3px;}