#hs-app-fb-casa-conforto {
	background: url(../img/bg-app-fb-casa-conforto.jpg) no-repeat;
	height: 1071px;
	margin: 0 auto;
	width: 810px;
}
#hs-app-fb-casa-conforto .clearFix:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
#hs-app-fb-casa-conforto img {
	display: block;
	max-width: 100%;
}
#hs-app-fb-casa-conforto :focus {
	outline: 0;
}
#hs-app-fb-casa-conforto ul {
	list-style: none;
	/*
	margin: 0;
	padding: 0;
	*/
}
#hs-app-fb-casa-conforto header h1 {
	height: 0;
	text-indent: -9999px;
}
#hs-app-fb-casa-conforto.hs-home .hs-content {
	background: url(../img/bg-hs-home.png) no-repeat;
	height: 399px;
	margin-top: 139px;
}
#hs-app-fb-casa-conforto.hs-perguntas .hs-content {
	background: url(../img/bg-hs-perguntas.png) no-repeat;
	padding-top: 184px;
}
#hs-app-fb-casa-conforto.hs-resposta .hs-content {
	background: url(../img/bg-hs-resposta.png) no-repeat;
	margin-top: 139px;
	padding-top: 36px;
}
#hs-app-fb-casa-conforto.hs-home ul {
	display: table;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 352px;
}
#hs-app-fb-casa-conforto.hs-home .row-regulamento span {
	font-family:'KlavikaLight',Sans-Serif;
	font-size: 13px;
	color: #69458e;
	margin-left: 5px;
}
#hs-app-fb-casa-conforto.hs-home .row-regulamento a {
	color: #69458e;
	text-decoration: underline;
}
#hs-app-fb-casa-conforto.hs-home .row-regulamento a:hover {
	text-decoration: none;
}
#hs-app-fb-casa-conforto.hs-home .input-submit {
	background: url(../img/responder-quiz-button.png) no-repeat;
	border: 0;
	height: 34px;
	margin-top: 5px;
	text-indent: -9999px;
	width: 236px;
	cursor: pointer;
}
.app-fb-casa-conforto-box-msg {
	display: none;
}
.app-fb-casa-conforto-box-msg .box-fancy-title {
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	background-color: #6d84b4;
	border: 1px solid #3b5998;
	border-bottom: 0;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
}
.app-fb-casa-conforto-box-msg .box-fancy-content {
	border-color: #555;
	border-style: solid;
	border-width: 0 1px;
	padding: 10px;
	text-align: center;
}
.app-fb-casa-conforto-box-msg .box-fancy-content span {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
}
.app-fb-casa-conforto-box-msg .box-fancy-buttons {
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	background-color: #f2f2f2;
	text-align: right;
	border-top: 1px solid #ccc;
	padding: 10px;
}
.fancybox-wrap {
	top: 180px!important;
}
.app-fb-casa-conforto-box-msg .box-fancy-buttons a {
	display: inline-block;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;	
	-moz-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4), 0 0 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4), 0 0 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 1px 0 rgba(255,255,255,.4), 0 0 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.1);
}
.app-fb-casa-conforto-box-msg .box-fancy-buttons a:active {
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.1);
}
.app-fb-casa-conforto-box-msg .fancy-close-action {
	border: 1px solid #999;
	border-bottom-color: #888;
	color: #333;
	background-image: linear-gradient(to bottom, #f5f6f6, #ddd 130%);
}
.app-fb-casa-conforto-box-msg .fancy-close-action:active {
	background: #ddd;
}
.app-fb-casa-conforto-box-msg .fancy-confirm-action {
	display: none;
	border: 1px solid #29447e;
	color: #fff;
	background: #5972a7;
	margin-right: 5px;
}
.app-fb-casa-conforto-box-msg .fancy-confirm-action:active {
	background: #4f6aa3;
}
#hs-app-fb-casa-conforto.hs-perguntas form {
	position: relative;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-status-bar {
	width: 238px;
	height: 16px;
	margin: 0 auto;
	background: url(../img/bg-status-bar.png) no-repeat;
	display: table;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-status-bar ul {
	display: table;
	margin: 0 auto;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-status-bar li {
	float: left;
	margin-left: 15px;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-status-bar li:first-child {
	margin-left: 0;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-status-bar span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/status-bar-sprite.png) no-repeat;
	background-position: 0 0;
}
#hs-app-fb-casa-conforto.hs-perguntas span.marked {
	background-position: -10px 0;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-title-form {
	width: 412px;
	height: 57px;
	margin: 17px auto 0 auto;
	display: table;
	padding-right: 5px;
	box-sizing: border-box;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-title-form h2 {
	font-family:'KlavikaLight',Sans-Serif;
	font-size: 21px;
	color: #96ce39;
	text-transform: uppercase;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#hs-app-fb-casa-conforto.hs-perguntas .title-large-text {
	font-size: 18px!important;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-form {
	width: 428px;
	margin: 23px auto 0 auto;
	z-index: 1;
}
#hs-app-fb-casa-conforto #form_1,
#hs-app-fb-casa-conforto #form_2,
#hs-app-fb-casa-conforto #form_3,
#hs-app-fb-casa-conforto #form_4,
#hs-app-fb-casa-conforto #form_5,
#hs-app-fb-casa-conforto #form_6,
#hs-app-fb-casa-conforto #form_7 {
	display: none;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-form li {
	margin-top: 8px;
}
#hs-app-fb-casa-conforto.hs-perguntas .box-form li:first-child {
	margin-top: 0;
}
#hs-app-fb-casa-conforto.hs-perguntas .row-alternative {
	height: 46px;
	border: 1px solid #e4dbde;
	position: relative;
	cursor: pointer;
}
#hs-app-fb-casa-conforto.hs-perguntas .row-alternative span {
	font-family:'KlavikaLight',Sans-Serif;
	font-size: 16px;
	color: #69458e;
}
#hs-app-fb-casa-conforto.hs-perguntas .large-text {
	font-size: 13px!important;
}
#hs-app-fb-casa-conforto.hs-perguntas .letter-choice {
	width: 30px;
	line-height: 46px;
	font-weight: bold;
	text-align: center;
	float: left;
}
#hs-app-fb-casa-conforto.hs-perguntas .content-choice {
	width: 380px;
	height: 46px;
	margin-left: 5px;
	display: table;
}
#hs-app-fb-casa-conforto.hs-perguntas .content-choice span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#hs-app-fb-casa-conforto.hs-perguntas .row-alternative.selected {
	background: url(../img/row-alternative-selected.png) repeat-x;
}
#hs-app-fb-casa-conforto .box-submit-button {
	margin-top: 40px;
	display: none;
}
#hs-app-fb-casa-conforto .box-submit-button a {
	width: 245px;
	height: 43px;
	display: block;
	float: right;
	background: url(../img/responder-button.png) no-repeat;
	text-indent: -9999px;
}
#hs-app-fb-casa-conforto .box-nav {
	width: 46px;
	height: 46px;
	position: absolute;
	top: 197px;
	background: url(../img/box-nav-sprite.png) no-repeat;
	display: inline-block;
}
#hs-app-fb-casa-conforto a.hs-prev {
	background-position: 0 0;
	float: left;;
	left: 95px;
}
#hs-app-fb-casa-conforto a.hs-prev.disabled {
	background-position: 0 -56px;
}
#hs-app-fb-casa-conforto a.hs-next {
	background-position: -56px 0;
	float: right;
	right: 95px;
}
#hs-app-fb-casa-conforto a.hs-next.disabled {
	background-position: -56px -56px;
}
#hs-app-fb-casa-conforto.hs-resposta .title-content {
	text-align: center;
}
#hs-app-fb-casa-conforto.hs-resposta .title-content h2 {
	font-family:'KlavikaLight',Sans-Serif;
	font-size: 28px;
	color: #c93681;
	text-transform: uppercase;
}
#hs-app-fb-casa-conforto.hs-resposta .title-content strong {
	font-family:'KlavikaBold',Sans-Serif;
}
#hs-app-fb-casa-conforto.hs-resposta .box-images {
	margin-top: 19px;
}
#hs-app-fb-casa-conforto.hs-resposta .box-images ul {
	display: table;
	margin: 0 auto;
}
#hs-app-fb-casa-conforto.hs-resposta .box-images li {
	margin-left: 6px;
	float: left;
}
#hs-app-fb-casa-conforto.hs-resposta .box-images li:first-child {
	margin-left: 0;
}

#hs-app-fb-casa-conforto.hs-resposta .box-buttons {
	margin-top: 22px;
}
#hs-app-fb-casa-conforto.hs-resposta .box-buttons ul {
	display: table;
	margin: 0 auto;
}
#hs-app-fb-casa-conforto.hs-resposta .box-buttons li {
	margin-left: 16px;
	float: left;
}
#hs-app-fb-casa-conforto.hs-resposta .box-buttons li:first-child {
	margin-left: 0;
}
#hs-app-fb-casa-conforto.hs-resposta .box-buttons a {
	width: 186px;
	height: 33px;
	display: block;
	background: url(../img/buttons-resposta-sprite.png) no-repeat;
	text-indent: -9999px;
}
#hs-app-fb-casa-conforto.hs-resposta .box-buttons a.comprar-kit {
	background-position: 0 0;
}
#hs-app-fb-casa-conforto.hs-resposta .box-buttons a.outros-produtos {
	background-position: -186px 0;
}
#hs-app-fb-casa-conforto.hs-resposta .box-buttons a.compartilhar {
	background-position: -372px 0;
}
