#hs-app-fb-casa-conforto.hs-perguntas .content-choice{
	width: 380px;
	height: 46px;
	margin-left: 5px;
	text-align: center;
}
#hs-app-fb-casa-conforto.hs-perguntas .content-choice span {
	position: relative;
	margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
}
