
@font-face {
	font-family: 'FSRufus-Bold';
	src: url('FSRufus-Bold.eot?') format('eot'), 
	     url('FSRufus-Bold.otf')  format('opentype'),
	     url('FSRufus-Bold.woff') format('woff'), 
	     url('FSRufus-Bold.ttf')  format('truetype'),
	     url('FSRufus-Bold.svg#FSRufus-Bold') format('svg');
}
