body {
    background: #000;
}
.banner06 {
	background:#fff;
	padding-bottom: 15px;
}
#bn-top {
	background: url(../img/home/top-8h.jpg) no-repeat !important;
	width:1004px;
	height: 275px;
	position: relative;
}
 .timer-box, #btn-como-funciona {
	display:none !important;
}

/* APP TIMER*/
.timer-box {
    position: absolute;
    top: 52px;
	right: 40px;
}
.timer-box .bn-timer {
    font-size: 28px;
    color: #fff;
}
.timer-box .bn-timer > div {
    width: 60px;
	padding-left:4px;
    float: left;
    margin-left: 15px;
    text-align: center;
    letter-spacing: 4px;
}

#boxDescontos li {
	float:left;
}
.bannerDestaques ul.bList li:first-child {
	margin-right: 6px !important;
}
h2.title1 {
	background: #fff url(../img/home/title-melhores-ofertas.gif) no-repeat center 22px;
	height: 63px;
	margin: 0;
	padding: 0;
}
.grid .prods .li {
	float: left;
	background: #fff;
	width:251px !important;
	height: 366px;
	padding: 15px 0 10px;
}
.grid .prods .CLASS  {
	display: none;
}
.grid .prods .x01, .grid .prods .x07 {
	display: block;
	float: left;
	width:1004px !important;
	height: 126px;
	margin: 20px 0;
}

#box-shoptimeMenuServicos,
#searchBox,
#shoptimeNovoFooter {
	background:#fff;
}
#new-shoptimeMenuServicos {
	margin-top:0 !important;
}
#searchBox .fSearch {
	margin-bottom:0;
	padding-bottom: 30px;
}
#shoptimeNovoFooter {
	width: 984px !important;
}
#shoptimeNovoFooter .snf-middle-right, #shoptimeNovoFooter .snf-bottom-right {
	margin-left: 44px !important;
}

#btn-como-funciona {
	display:block;
	width:130px;
	height:20px;
	position:absolute;
	bottom: 28px;
	left: 108px;
}

