﻿.left{float:left;}
.limite{width:935px; overflow:hidden; margin:0 auto;}
.irepla{display:block; text-indent:-9999px;}

#shoptimeLifeZoneVideos{width:1004px; oveflow:hidden; margin:0 auto;}

/*TOPO*/
.shoplzv-topo{
	background: url(../img/bgtopo.jpg) no-repeat scroll left top;
    height: 204px;
	overflow:hidden;
}

.shoplzv-logo{
	background: url(../img/logo.jpg) no-repeat scroll left top;
	height: 43px;
	width: 203px;
	margin:45px auto 40px;
}

.shoplzv-frase1{
	background: url(../img/frase1.jpg) no-repeat scroll left top;
	height: 24px;
	width: 861px;
	margin:0 auto 5px;
}

.shoplzv-frase2{
	background: url(../img/frase2.jpg) no-repeat scroll left top;
	height: 29px;
	width: 367px;
	margin:0 auto;
}
/*TOPO FIM*/


/*MIOLO*/
.shoplzv-miolo{
	background: url(../img/bgmiolo.jpg) no-repeat scroll left top #ff9c50;
	overflow:hidden;
}

.shoplzv-videoprincipal{
	height:625px;
	background-color:#3b393a;
	margin-bottom:20px;
}

.shoplzv-princ-vid-a{
	display: block;
    height: 544px;
    margin: 13px auto;
    width: 853px;
}

.shoplzv-princ-prod-a{
	display: block;
    height: 41px;
    margin-left: 710px;
    width: 181px;
}


.shoplzv-videos-img{
	height:211px;
	margin-bottom:2px;
}

.shoplzv-videos-box{
	overflow:hidden;
	margin:15px 6px;
}	

.shoplzv-videos-linkprod{
	height:52px;
	background-color:#fbe2c4;
	overflow:hidden;
}

.shoplzv-prod-a{
	display: block;
    height: 20px;
    margin: 17px 0 0 170px;
    width: 116px;
}

.shoplzv-videos-linkvid{
	margin-bottom: 3px;
}

.shoplzv-vid-a{
	display: block;
    height: 211px;
    width: 299px;
	cursor:pointer;
}

	
	

/*MIOLO FIM*/


/*RODAPE*/
.shoplzv-rodape{
	background: url(../img/bgrodape.jpg) no-repeat scroll left top;
	height: 40px;
	overflow:hidden;
}
/*RPDAPE FIM*/


/* POPUP */
.video-p #cboxLoadedContent {
	text-align: right;
}
.video-p #cboxLoadedContent iframe {
	margin-bottom: 15px;
}
.video-p #cboxLoadedContent .buy {
	margin-right: 15px;
}

