.banner-top-content {
	margin-bottom: 34px;
}
#bn-top {
	background: url(../img/home/top-8h.jpg) no-repeat center top;
	width:804px;
	height: 319px;
	float:right;
	position: relative;
}
#btn-logo {
	display:block;
	width:310px;
	height:210px;
	position:absolute;
	top: 33px;
	left: 87px;
}
.box-timer, #btn-como-funciona {
	display:none !important;
}
#btn-como-funciona {
	display:block;
	width:187px;
	height:14px;
	position:absolute;
	bottom: 40px;
	left: 127px;
}
#btn-ofertas {
	display:block;
	width:312px;
	height:42px;
	position:absolute;
	bottom: 42px;
	right: 79px;
}

/* APP TIMER*/
.box-timer {
    position: absolute;
    top: 91px;
	right: 77px;
}
.box-timer .bn-timer {
    font-size: 28px;
    color: #fff;
}
.box-timer .bn-timer > div {
    width: 60px;
	padding-left: 4px;
	float: left;
	margin-left: 11px;
	text-align: center;
	letter-spacing: 2px;
}

.list-banner-contador {
	margin-bottom: 16px;
}
.clear { clear:both; }