<div class="box3 rBox wb viewBanner" id="masterBanner">

<div class="banner banner01">
<div class="box4 rBox2">
                    <div class="carrousel1">
                    <ul class="bList">
                        <li><script type="text/javascript">try{OAS_AD('x80')}catch(exp){handleException(exp);}</script></li>
                    </ul>
                    </div>
                </div>
</div>

</div>