.paginacao{padding:15px; margin-bottom:15px;}
.paginacao .results,.paginacao .results li,.paginacao .pageList li{float:left;color:#666666;}
.paginacao .pageList{float:right;}
.paginacao .pageList li{text-align:center;padding:1px 3px 1px 3px;}
.paginacao .pageList li a{color:#666666; text-align:center;}
.paginacao .selected{background-color:#44b6a4;}
.paginacao .pageList li.selected a{color:#FFFFFF;}