.x-grid3-scroller{
	overflow:hidden;
}
#selo-global{
	float:left;
	width:100%;
}
#panel{
	margin-bottom:10px;
	float:left;
	width:50%;
}
#panel li{
	width:30%;
}
#panel div.ref-id{
	position:relative;
	top:-26px;
	left:5px;
	font-weight:bold;
	font-size:12px;
	/*IE7*/
	*position:static;
	*margin-top:-26px;
	*margin-left:5px;
	/**/
}
#panel div.ref-id p,#panel .selos_cad{
	float:left;
}
#panel .selos_cad{
	margin-top:5px;
	margin-left:5px;
}
.base-panel{
	width:100%;
	max-height:500px;
	overflow-x:hidden;
	overflow-y:auto;
	box-shadow:1px 2px 2px -1px #CCCCCC inset;
	-webkit-box-shadow:1px 2px 2px -1px #CCCCCC inset;
}
.base-panel ul{
	padding-top:10px;
	padding-left:7px;
}
.base-panel ul li,.breadcump .op{
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	-webkit-border-radius:8px;
	border-color:#CCCCCC;
	height:22px;
	float:left;
	margin:5px;
	background-color:#FFFFFF;
	box-shadow:1px 2px 2px -1px #CCCCCC;
	-webkit-box-shadow:1px 2px 2px -1px #CCCCCC;
}
.base-panel ul li .content{
	padding:10px;
	float:left;
}
.base-panel ul li div.img{
	float:left;
	width:55px;
}
.base-panel ul li .aba-op{
	width:100%;
	height:22px;
	background-image:url(../images/bg.png);
}
.base-panel ul li .aba-op .ops{
	padding: 2px;
}
.base-panel ul li .aba-op .ops .icon-action{
	float:right;
	cursor:pointer;
}
.base-panel ul li .pinpoint{
	background-repeat:no-repeat;
	background-position:center;
	width:30px;
	height:30px;
    margin-left:-11px;
	margin-top:-10px;
    position: absolute;
	cursor:pointer;
	display:none;
}
.base-panel ul li .point-yes{
	background-image:url(../images/pinpoint.png);
}
.base-panel ul li .point-no{
	background-image:url(../images/pinpoint-no.png);
}
#selos{
	height:auto;
	float:left;
	overflow-x:hidden;
	overflow-y:auto;
	background-color:#F5F5F5;
	width:50%;
}
#selos ul li{
	cursor:default;
	height:75px;
	width:47%;
	overflow:hidden;
}
#selos ul li .aba-op,#selos ul li .icon-action,#selos ul li .icon-action span.ui-icon{background-color:#333333 !important;}
#selos ul li .icon-action,#selos ul li .icon-action span.ui-icon{border:0;}
#selos ul li.activeSelo{background-color:#68CDB2 !important;}
#selos .info{float:left;}
#in_selo,#in_cod_id,#id_marca,.prod-none,#boxmsg,#edit_selo{display:none;}
.selected-drag{opacity:0.2;background:#CCCCCC !important;}
li.ui-draggable-dragging,.base-panel ul li.selected{background-color:#68CDB2 !important;}
#panel .ui-draggable-dragging{cursor:move;overflow:hidden;border:0;width:170px !important;}
.ui-draggable-dragging .ops,.ui-draggable-dragging .ref-id{display:none;}
.selected .ref-id p.idprod2,.ui-draggable-dragging .ref-id p.idprod2{color:#FFFFFF !important;}
.base-panel .selos_cad img{
	width:20px;
	height:20px;
}
#boxmsg p{
	margin-top:22px;
	text-align:center;
}
#prods_selected{
	opacity:0.95;
	position:absolute;
	z-index:21;
}
li div.count{
	text-align:center;
	color:#FFFFFF;
	padding:3px;
	font-size:12px;
	font-weight:bold;
}
.mainMenu li ul{
	z-index:21;
}
#toolbar{
	position:relative;
	top:-17px;
	*z-index:99999;
}
#toolbar #navMenu{
	margin:0;
	position:relative;
}
#toolbar .mainMenu li ul{
	width:22em;
}
#filtro .inp{
	background-image:url(../images/lupa.png);
	background-repeat:no-repeat;
	background-position:5px 3px;
	background-color:#FFFFFF;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	border-color:#CCC;
	box-shadow:1px 1px 3px #CCC inset;
	-webkit-box-shadow:1px 1px 3px #CCC inset;
	padding-left:25px;
	color:#666666;
	width:101%;
	
	padding-top:3px;
	padding-bottom:2px;
	height:15px;
	overflow:hidden;
}
.x-panel-tbar{
	*height:25px;
	*overflow:hidden;
}
#filtro .sel{
	background-image:none;
	padding:2px;
	margin-left:25px;
}
.breadcump{
	*width:85px;
	position:absolute;
	top:0;
	left:25px;
}
.breadcump .op{
	background-image:url(../images/bg.png);
	height:auto;
	padding:0 0 0 2px;
	border:0;
}
.breadcump .op .text{
	float:left;
	padding:1px 5px 0 2px;
	color:#666666;
}
.breadcump .op .icon-action{
	float:right;
	cursor:pointer;
}
img.loader{
	vertical-align:middle;
}
.checkbox{
	width:21px;
	height:21px;
	background-image:url(../images/checkbox.png);
	background-repeat:no-repeat;
	display:block;
}
.unchecked{
	background-position:right;
}
.config-selo{
	font-family:Arial;
	font-size:11px;
}
.config-selo tr{
	cursor:default;
}
.config-selo thead td{
	border:0;
}
.config-selo tbody td{
	border-right:0;
}
.paginacao{padding-top:0;}
.no-result{
	background-image:url(../images/bg.png);
	width:100%;
	padding:5px;
	margin:0 0 15px 0;
	text-align:center;
	font-size:12px;
	color:#666;
}