tr{
	cursor:pointer;
}
td{
	padding:5px;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	text-transform:capitalize;
}
tr:hover,tr.selected{
	background-color:#92DBC3;
	border-bottom:1px solid #6FCFB1;
}
#base-form{
	background-color:#EEEEEE;
}
input[type=text],input[type=password]{
	width:99%;
	height:20px;
}
select{
	width:200px;
	padding:2px;
}
div.box{
	position:absolute;
	top:0;
	cursor:default;
}
/*Propriedades*/
#area2{
	background-color:#F5F5F5;
	border:1px solid #A7E0CF;
}
#area2 #top,#area2 #bottom{
	background-color:#93DBC5;
	width:100%;
	padding:2px;
}
#area2 table tr#titulo{
	background-color:#44B6A4;
}
#area2 table tr#titulo:hover{
	background-color:#44B6A4;
}
#area2 #top,#ext-comp-1013{
	font-size:12px;
	color:#333333;
	font-weight:bold;
}
input[name="ok"]{font-size:10px;height:20px;width:28px;margin:0pt;padding:0px;}
.img-remove-faq,.contextMenu ul li{cursor:pointer;}
input[type="submit"],input[type="button"]{font-size:10px;}