.ux-mselect{
    overflow:auto;
    background:white;
    position:relative; /* for calculating scroll offsets */
    zoom:1;
    overflow:auto;	
}
.ux-mselect-item{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding:2px;
    border:1px solid #fff;
    white-space: nowrap;
    cursor:pointer;
}
.ux-mselect-selected{
	border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
    cursor:pointer;
}

#page {width:98%; margin-left: 1%; margin-right: 1%;} 
#footer {background:#FFF url();}
@CHARSET "ISO-8859-1";

.textFieldLabel {
	background: #8fdac5;
	border: 0px solid #EEE;
}
@CHARSET "ISO-8859-1";

.labelInfo {
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	color: #000000;
	background: #d2fce1;
	max-height: 100%;
	min-height: 200px;
	max-width: 200px;
	padding: .5em 1.2em .5em 1.2em;
	border: 1px solid #EEE;
}


* {color:#000;}



.breadCrumbs {padding-bottom:.5em; margin:0;}


.boxHeader1 strong {border-right:.33em solid #01a1a1; padding: 0 .5em;}
.boxHeader2 {font-size:1.1em; padding:.2em 1.2em; background:#e1e1e1;}

.dayView {color:#FFF; font-size:1.2em; background:#50a2a0; padding:.25em .5em;}

.dayDetails {border:1px solid #000; padding: 5px; overflow:hidden;}
.dayDetails div.title {background:#ccc; overflow:hidden; height:3em;}
.dayDetails div.title strong {font-size:2em; float:left; padding:.1em .3em;}
.dayDetails em {float:right; padding:.8em .5em 0 0;}

.dayDetails dl {overflow: hidden; width: 100%;}
.dayDetails dt {width:33%; font-size:1.1em; padding:2px 3px; float:left;}
.dayDetails dd {width:64%; font-size:1.1em; padding:2px 3px; float:left; margin:0 0 3px 3px;}

.dayDetailsCommon dt, .dayDetailsCommon dd {height:2em; padding-top:.5em; position:relative;}
.dayDetailsName {background:#EBEBEB;}
.dayDetailsCampaign {background:#D7D7D7;}

.obs {text-align:right; color:#000;}



.list2 {list-style-type:none; margin-left:2em; padding:.5em 0;}
.list2 li {margin-bottom:.5em;}
.list2 li a {color:#000;}
.list2 li a:hover {color:#389788;}

.list3 {list-style-type:none; padding:.5em 0; height:7em;}
.list3 li {margin-bottom:.5em;}

.dayButtons {display:block; position:absolute; top:.3em; right:1em;}



.calendarTable1 {margin:0 0 2em 2em; }
.calendarTable1 td {text-align:right; padding:.2em;}
.calendarTable1 caption {margin-left:1.9em;}
.calendarTable1 a {color:#000;}
.calendarTable1 a:hover {color:#389788;}


.calendarTable2 {margin-top:1em; border-collapse:collapse; width: 100%; clear:both;}
.calendarTable2 .weekDays th {font-size:1.25em; text-align:center; color:#FFF; width:10%; padding:.2em 0; border-right:1px solid #FFF;}
.calendarTable2 .weekDays th p {color:#FFF; background:#4ca2a3; margin-top:0;}
.calendarTable2 th {font-size:1.6em; text-align:left; color:#535353; padding:.2em; border:none; border-right:1px solid #CCC;}

.calendarTable2 th strong {float:left; padding:.1em .3em;}
.calendarTable2 em {float:right; padding:.1em .3em; text-align:right; padding-top:.3em;}
.calendarTable2 div {background:#F0F0F0; overflow:hidden;}
.calendarTable2 th.cellTitleSelected {background:#e9f7f8;}
.calendarTable2 th.cellTitleSelected strong {color:#FFF;}
.calendarTable2 th.cellTitleSelected div {background:#4CA2A3; overflow:hidden;}

.calendarTable2 td {font-size:.9em; width:10%; height:12em; padding:.5em; vertical-align:top; border-right:1px solid #CCC; border-bottom:1px solid #CCC;}
.calendarTable2 tr.top th {border-top:1px solid #000;}
.calendarTable2 td.left, .calendarTable2 th.left {border-left:1px solid #000;}
.calendarTable2 td.right, .calendarTable2 th.right {border-right:1px solid #000;}
.calendarTable2 tr.bottom td {border-bottom:1px solid #000;}

.calendarTable2 td.selected {background:#e9f7f8;}
.calendarTable1 td.selected {background:#b5e2e5;}

.calendarTable1 strong {margin:0 1em;}
.calendarTable2 th strong {color:#555;}
.calendarTable2 th.holiday strong {color:#939393;}

.selectMonth {color:#000; font-weight:bold; font-size:1.8em; margin-top:.1em; clear:both;}
.filterEvent {color:#000; font-weight:bold; font-size:1.1em; float:right;}
.filterEvent select {width:auto;}

.arrowButtons {color:#4ca2a3; text-align:right;}
.paginacao{padding:15px; margin-bottom:15px;}
.paginacao .results,.paginacao .results li,.paginacao .pageList li{float:left;color:#666666;}
.paginacao .pageList{float:right;}
.paginacao .pageList li{text-align:center;padding:1px 3px 1px 3px;}
.paginacao .pageList li a{color:#666666; text-align:center;}
.paginacao .selected{background-color:#44b6a4;}
.paginacao .pageList li.selected a{color:#FFFFFF;}


tr{
	cursor:pointer;
}
td{
	padding:5px;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	text-transform:capitalize;
}
tr:hover,tr.selected{
	background-color:#92DBC3;
	border-bottom:1px solid #6FCFB1;
}
#base-form{
	background-color:#EEEEEE;
}
input[type=text],input[type=password]{
	width:99%;
	height:20px;
}
select{
	width:200px;
	padding:2px;
}
div.box{
	position:absolute;
	top:0;
	cursor:default;
}


#area2{
	background-color:#F5F5F5;
	border:1px solid #A7E0CF;
}
#area2 #top,#area2 #bottom{
	background-color:#93DBC5;
	width:100%;
	padding:2px;
}
#area2 table tr#titulo{
	background-color:#44B6A4;
}
#area2 table tr#titulo:hover{
	background-color:#44B6A4;
}
#area2 #top,#ext-comp-1013{
	font-size:12px;
	color:#333333;
	font-weight:bold;
}
input[name="ok"]{font-size:10px;height:20px;width:28px;margin:0pt;padding:0px;}
.img-remove-faq,.contextMenu ul li{cursor:pointer;}
input[type="submit"],input[type="button"]{font-size:10px;}
