.hs-both{
	clear:both;
}

.hs-left{
	margin-left:0!important;
}

.hs-hide{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
}

.hs-wrapper{
	width:100%;
}
.hs-wrapper .hs-content{
	width:1004px;
	margin:0 auto;
	position:relative;
}

.hs-wrapper .hs-content .hs-caixa-interna{
	padding-left:37px;	
}

.hs-wrapper .hs-content .hs-caixa-interna h1{
	width:242px;
	height:103px;
	background:url("http://img.americanas.com.br/mktacom/hotsite/feira-tecnologia/img/logo.jpg") no-repeat 0 0;
	float:left;
	margin:35px 38px 20px 0;
}

.hs-wrapper .hs-content .hs-caixa-interna h2{
	color:#20dad9;
	font-size:28px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-divisa{
	padding-left:38px;
	border-left:1px solid #e0e0e0;
	display:block;
	width:545px;
	height:74px;
	float:left;
	position:relative;
	top:46px;	
	
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-header-text{	
	font-size:18px;
	color:#666666;
	position:relative;
	top:-5px;
	
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box-01-principal{
	width:610px;
	height:319px;
	border:1px solid #cccccc;
	float:left;
	position:relative;	
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box-01-principal strong{
	font-size:17px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box-01-principal .hs-img-destaque{
	position:absolute;
	top:10px;
	left:10px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box-01-principal strong{
	position:absolute;
	bottom:33px;
	left:12px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box-01-principal .hs-comprar{
	position:absolute;
	bottom:33px;
	right:11px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box-01-principal .hs-cont{
	position:absolute;
	bottom:34px;
	right:165px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box{
	width:298px;
	height:319px;
	border:1px solid #cccccc;
	float:left;
	position:relative;
	margin:10px 0 0 12px;
	
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box strong{
	position:absolute;
	bottom:25px;
	left:12px;
}


.hs-wrapper .hs-content .hs-caixa-interna .hs-box .hs-comprar{
	position:absolute;
	bottom:33px;
	right:11px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box .hs-cont{
	position:absolute;
	bottom:16px;
	right:10px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box strong{
	font-size:15px;
	width:122px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-banner{
	display:block;
	margin:55px 0;
}



.hs-wrapper .hs-content .hs-caixa-interna .caroufredsel_wrapper{
	height:350px!important;
	width:924px!important;
	
}	
	
	
	
.hs-wrapper .hs-content .hs-caixa-interna .hs-box-bottom{
	width:174px;
	height:196px;
	border:1px solid #cccccc;
	margin:10px 0 0 12px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs-box-bottom strong{
	font-size:12px;
}



.hs-wrapper .hs-content .hs-caixa-interna .hs-carrossel-02 .caroufredsel_wrapper ul li{
	float:left;
	position:relative;
	left:-12px;
}
	
	
	


.hs-wrapper .hs-content .hs-caixa-interna .hs-carrossel-01 .caroufredsel_wrapper ul li{
	float:left;
	position:relative;
	left:-12px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs1-prev{	
	width:27px;
	height:41px;
	background:url("http://img.americanas.com.br/mktacom/hotsite/feira-tecnologia/img/prev.jpg") no-repeat 0 0;
	position:absolute;
	top: 1210px;
	left: -6px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs1-next{	
	width:27px;
	height:41px;
	background:url("http://img.americanas.com.br/mktacom/hotsite/feira-tecnologia/img/next.jpg") no-repeat 0 0;
	position:absolute;
	top: 1210px;
	right: 0px;
}



.hs-wrapper .hs-content .hs-caixa-interna .hs2-prev{	
	width:27px;
	height:41px;
	background:url("http://img.americanas.com.br/mktacom/hotsite/feira-tecnologia/img/prev.jpg") no-repeat 0 0;
	position:absolute;
	top: 1548px;
	left:0px;
}

.hs-wrapper .hs-content .hs-caixa-interna .hs2-next{	
	width:27px;
	height:41px;
	background:url("http://img.americanas.com.br/mktacom/hotsite/feira-tecnologia/img/next.jpg") no-repeat 0 0;
	position:absolute;
	top: 1548px;
	right: 0px;
}




.hs-wrapper .hs-content .hs-caixa-interna .hs-carrossel-01 ul li, .hs-wrapper .hs-content .hs-caixa-interna .hs-carrossel-02 ul li{
	list-style:none;
}