/* CSS especifico do M3 
#page {width:100%;}
#area1 {width: 25%; overflow:hidden;}
#area2 {padding-left:.1em;}
#content {overflow:hidden;}
#contentHeader {background:#FFF url();}
#mainContent {overflow:hidden;}
#footer {background:#FFF url();}
*/
/*#contentHeader {background:#FFF url();}*/
#page {width:98%; margin-left: 1%; margin-right: 1%;} 
#footer {background:#FFF url();}
