@CHARSET "ISO-8859-1";

.labelInfo {
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	color: #000000;
	background: #d2fce1;
	max-height: 100%;
	min-height: 200px;
	max-width: 200px;
	padding: .5em 1.2em .5em 1.2em;
	border: 1px solid #EEE;
}
