#hs-torcer-para-ganhar {
	color: #8c8c8c;
}
#hs-torcer-para-ganhar .topo{
	width: 100%;
	height: 453px;
	background: url(../images/promo/topo-img.jpg) no-repeat center center;
}
#hs-torcer-para-ganhar .topo .content {
	width: 985px;
	height: 453px;
	margin: 0 auto;
	position: relative;
}
#hs-torcer-para-ganhar .topo .content ul.midiasSociais {
	position: absolute;
	top: 12px;
	left: 35px;
}
#hs-torcer-para-ganhar .topo .content ul.midiasSociais li {
	float: left;
	margin-right:5px; 
}
#hs-torcer-para-ganhar .topo .content ul.midiasSociais li a{
	display: block;
	width: 22px;
	height: 22px;
	position: relative;
}
#hs-torcer-para-ganhar .topo .content ul.midiasSociais li a.f{
	background: url(../images/promo/midiasSociais.gif) no-repeat 0 center;
}
#hs-torcer-para-ganhar .topo .content ul.midiasSociais li a.t{
	background: url(../images/promo/midiasSociais.gif) no-repeat -22px center;
}
#hs-torcer-para-ganhar .topo .content ul.midiasSociais li a.g{
	background: url(../images/promo/midiasSociais.gif) no-repeat -44px center;
}
#hs-torcer-para-ganhar .nav{
	width: 100%;
	height: 42px;
	margin-bottom: 30px;
	position: relative;
}

#hs-torcer-para-ganhar .nav .content {
	width: 985px;
	height: 42px;
	margin: 0 auto;
	position: relative;
	background: #e6e6e6;
}
#hs-torcer-para-ganhar .nav .content .menu {
	padding-top: 12px;
	padding-left: 12px;
}
#hs-torcer-para-ganhar .nav .content .menu li {
	float:left;
	font-size: 14px;
	border-left: #d5d5d5 solid 1px;
	padding: 0 15px;
}
#hs-torcer-para-ganhar .nav .content .menu li#menu-logged {
	display: none;
}
#hs-torcer-para-ganhar .nav .content .menu li a {
	color:#8c8c8c;
	font-size: 16px;	
}
#hs-torcer-para-ganhar .nav .content .menu li:first-child {
	border-left: none;
	padding-left: 0;
}
#hs-torcer-para-ganhar .nav .content .confira-tickets{
	position: absolute;
	right: 0;
	top: 6px;
	height: 25px;
	padding: 0 10px;
	padding-top: 5px;
}
#hs-torcer-para-ganhar .nav .content .confira-tickets ul li {
	float:left;
	font-size: 14px;
	margin-left: 10px;
	position: relative;
	font-size:16px;
}
#hs-torcer-para-ganhar .nav .content .confira-tickets ul li input.text {
	width: 70px;
	height: 22px;
	padding: 0 5px;
	border: none;
	font-size: 11px;
}
#hs-torcer-para-ganhar .nav .content .confira-tickets ul li input.submit, #hs-torcer-para-ganhar .nav .content .confira-tickets input.promo-logout  {
	display: block;
	height: 20px;
	background: #e60014;
	color: #fff;
	font-weight:bold;
	font-size:14px;
	border: none;
	border-bottom: #c40011 solid 2px;
	cursor: pointer;
}
#hs-torcer-para-ganhar .nav .content .confira-tickets input.promo-logout {
	display: none;
}
#hs-torcer-para-ganhar .wrap-content {
	width: 985px;
	margin: 0 auto;
	margin-bottom: 80px;
	position: relative;
}
#hs-torcer-para-ganhar .wrap-content h1, #hs-torcer-para-ganhar .wrap-content h2.title {
	color: #375f99;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 30px;
}
#hs-torcer-para-ganhar .list-publicidade {
	width: 985px;
	height: 104px;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;
}
#hs-torcer-para-ganhar .list-publicidade ul li {
	margin-left: 21px;	
}
#hs-torcer-para-ganhar .list-publicidade ul li:first-child {
	margin-left: 0px;	
}

/* PRINCIPAL */
#hs-torcer-para-ganhar .box-principal .img1 {
	padding-bottom:40px;
	margin-bottom:40px;
	border-bottom: #c5c5c5 solid 1px;
}
#hs-torcer-para-ganhar .box-principal .img2 {
	position: relative;
}
#hs-torcer-para-ganhar .box-principal .img2 .btn-clique-participe{
	display: block;
	width: 301px;
	height: 45px;
	margin: 0 auto;
	margin-top:40px;
	background: url(../images/promo/page-principal/btn-clique-participe.gif) no-repeat center center;
}
#hs-torcer-para-ganhar .box-principal .btn-regulamento {
	display: block;
	width: 194px;
	height: 22px;
	padding-top:5px;
	background: #e6e6e6;
	color: #8e8e8e;
	font-weight:bold !important;
	font-size:13px;
	border: none;
	border-bottom: #8e8e8e solid 2px;
	text-align: center;
	position: absolute;
	top:0;
	right: 0;
}

/* CADASTRE-SE */
#hs-torcer-para-ganhar .wrap-content .box-cadastro {
	padding:25px 0 !important;
	-webkit-box-shadow: 0px 0px 12px 0px #ccc;
	-moz-box-shadow:    0px 0px 12px 0px #ccc;
	box-shadow:         0px 0px 12px 0px #ccc;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .col-left {
	float: left;
	width: 316px;
	height: 458px;
	padding-right:66px;
	margin-left:40px;
	border-right: #c5c5c5 solid 1px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .col-left h2 {
	font-size: 22px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .col-left p {
	font-size: 16px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .col-left .checkboxes {
	margin-top: 20px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .col-right {
	float: right;
	width: 460px;
	margin-right:40px;
	position: relative;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .checkbox {
	float: left;
	margin-right:5px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .text {
	height: 34px;
	padding: 0 10px;
	margin-bottom: 14px;
	background: #fbfbfb;
	border: 1px solid #ccc;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .field label {
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .span1 {
	width: 460px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .span1 .text {
	width: 438px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .span2 {
	width: 223px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .span2 .text {
	width: 200px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .span3 {
	width: 147px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .span3 .text {
	width: 124px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .block {
	display: block;
	width: 448px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .submit {
	display: block;
	width: 121px;
	height: 23px;
	background: #e60014;
	color: #fff;
	border: none;
	border-bottom: #c40011 solid 2px;
	cursor: pointer;
}
#hs-torcer-para-ganhar .answer {
	color: #c40011;
	display: none;
	font-size: 12px;
}
#hs-torcer-para-ganhar .wrap-content .box-cadastro .answer {
	position: absolute;
	top: 484px;
	left: 135px;
}
#hs-torcer-para-ganhar .confira-tickets .answer {
	position: absolute;
	top: 33px;
	right: -190px;
	text-align: right;
	width: 200px;
}
#hs-torcer-para-ganhar .cadastrar-compras .answer {
	position: absolute;
	top: 122px;
	left: 20px;
	width: 175px;
}
#hs-torcer-para-ganhar .wrap-content .valor-compras {
	display: block;
	position: absolute;
	top:0;
	right:152px;
}
#hs-torcer-para-ganhar .wrap-content ul.list-valor-compras li {
	height: 137px;
	margin-bottom: 30px;
}
#hs-torcer-para-ganhar .wrap-content ul.list-valor-compras li img {
	display: block;
	float: left;
	margin-right: 10px;
}
#hs-torcer-para-ganhar .wrap-content ul.list-valor-compras li .content {
	font-size: 14px;
	width: 595px;
	float: right;
	padding-top: 26px;
}
#hs-torcer-para-ganhar .wrap-content ul.list-valor-compras li .content.small {
	font-size: 14px;
	width: 545px;
	float: right;
	padding-top: 76px;
}
#hs-torcer-para-ganhar .wrap-content ul.list-valor-compras li .content a {
	color: #de142f;
	font-weight: bold;
}
#hs-torcer-para-ganhar .wrap-content ul.list-valor-compras li .content h3 {
	font-size: 22px;
	font-weight: normal;
}

#hs-torcer-para-ganhar .box-cadastre-se .confira-tickets{
	position: relative;
	background: #f8e115;
	width: 866px;
	height: 39px;
	padding-top:20px;
	margin: 0 auto;
	margin-top: 7px;
	margin-bottom: 50px;
	text-align: center;
}
#hs-torcer-para-ganhar .box-cadastre-se .confira-tickets ul  {
	width: 710px;
	margin: 0 auto;
}
#hs-torcer-para-ganhar .box-cadastre-se .confira-tickets ul li {
	float:left;
	font-size: 14px;
	margin-left: 10px;
	position: relative;
}
#hs-torcer-para-ganhar .box-cadastre-se .confira-tickets ul li input.text {
	width: 70px;
	height: 19px;
	padding: 0 5px;
	border: none;
	font-size: 11px;
}
#hs-torcer-para-ganhar .box-cadastre-se .confira-tickets ul li input.submit  {
	display: block;
	width: 80px;
	height: 19px;
	background: #e60014;
	color: #fff;
	border: none;
	border-bottom: #c40011 solid 2px;
	cursor: pointer;
}
#hs-torcer-para-ganhar .box-cadastre-se .confira-tickets .answer {
	position: absolute;
	top: 25px;
	right: -190px;
	text-align: right;
	width: 200px;
}

/* PREMIOS */
#hs-torcer-para-ganhar .box-premios {
	font-size: 16px;
	min-height: 330px;
}
#hs-torcer-para-ganhar .box-premios h2 {
	font-size: 22px;
	font-weight: normal;
	line-height: 24px;
}
#hs-torcer-para-ganhar .box-premios p{	
	margin-bottom: 10px;
}
#hs-torcer-para-ganhar .box-premios ul {	
	list-style-type: disc;
	padding-left: 20px;
}
#hs-torcer-para-ganhar .box-premios ul li {	
	margin-bottom: 10px;
}
#hs-torcer-para-ganhar .box-premios .info {
	font-size: 11px;
	margin-top: 38px;
}
#hs-torcer-para-ganhar .box-premios img.premios{	
	position: absolute;
	top:0;
	right:-20px;
}

/* REGULAMENTO */
#hs-torcer-para-ganhar .box-regulamento {
	font-size: 16px;
}
#hs-torcer-para-ganhar .box-regulamento h1 {
	margin-bottom: 14px;
}
#hs-torcer-para-ganhar .box-regulamento h2 {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 8px;
}
#hs-torcer-para-ganhar .box-regulamento p {
	margin-top: 0;
}
#hs-torcer-para-ganhar .box-regulamento .btn-regulamento {
	display: block;
	width: 157px;
	height: 21px;
	padding-top:4px;
	background: #e60014;
	color: #fff;
	border: none;
	border-bottom: #c40011 solid 2px;
	text-align: center;
	margin-bottom: 50px;
}
#hs-torcer-para-ganhar .box-regulamento .accordion {
	font-size: 14px;
}
#hs-torcer-para-ganhar .box-regulamento .accordion em {
	color:#e60014;
}
#hs-torcer-para-ganhar .box-regulamento .accordion h3 {
	width: 965px;
	height: 35px;
	background: #e6e6e6 url(../images/mark-plus.gif) no-repeat 950px center;
	font-weight: normal;
	padding: 12px 0 0 25px;
	cursor:pointer;
	margin-top: 5px;
}
#hs-torcer-para-ganhar .box-regulamento .accordion h3.doubleLine {
	height: 43px;
	padding-top: 4px;
}
#hs-torcer-para-ganhar .box-regulamento .accordion h3.active {
	background: #e6e6e6 url(../images/mark-minus.gif) no-repeat 950px center;
}	
#hs-torcer-para-ganhar .box-regulamento .accordion div {
	width: 940px;
	background: #fafafa;
	padding: 16px 25px 16px 25px;
	display: none;
}
#hs-torcer-para-ganhar .box-regulamento .accordion div a {
	color:#e60014;
}
#hs-torcer-para-ganhar .box-regulamento .accordion div ol {
	padding-left: 20px;
}
#hs-torcer-para-ganhar .box-regulamento .accordion div ol li {
	margin-bottom: 15px;
}
#hs-torcer-para-ganhar .box-regulamento .accordion div ol li h4 {
	margin-bottom: 10px;
}
#hs-torcer-para-ganhar .box-regulamento .accordion table {
	margin: 20px 0;
}
#hs-torcer-para-ganhar .box-regulamento .accordion table th,
#hs-torcer-para-ganhar .box-regulamento .accordion table td {
	padding: 10px;
	border:1px solid #ddd;
}
#hs-torcer-para-ganhar .box-regulamento .accordion table th {
	background: #375f99;
	color: #fff;
}



/* USER LOGGED */
#hs-torcer-para-ganhar .box-logged .tickets-quant {
	width: 484px;
	height: 51px;
	background: url(../images/promo/tickets-bg.gif) no-repeat center center;
	font-size: 22px;
	color:#737373;
	position: relative;
	margin-bottom: 68px;
}
#hs-torcer-para-ganhar .box-logged .tickets-quant span {
	display: block;
	width:85px;
	position: absolute;
	right: 248px;
	top: 13px;
	text-align: center;
	color: #fff;
}
#hs-torcer-para-ganhar .box-logged .cadastrar-compras {
	width: 493px;
	height: 165px;
	padding:20px;
	background: #f6f6f6;	
	position: absolute;
	top:0;
	right:0;
}
#hs-torcer-para-ganhar .box-logged .title {
	font-size: 19px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 20px;
}
#hs-torcer-para-ganhar .box-logged table {
	font-size: 14px;
	float: left;
}
#hs-torcer-para-ganhar .box-logged table th, #hs-torcer-para-ganhar .box-logged table td {
	height: 47px;
	text-align: center;
	border-right:#fff solid 10px;
	border-bottom:#fff solid 10px;
}
#hs-torcer-para-ganhar .box-logged table th {
	background: #e3e3e3;	
	font-weight: normal;
}

#hs-torcer-para-ganhar .box-logged table td {
	background: #f6f6f6;	
}
#hs-torcer-para-ganhar .box-logged table .col1 {
	width: 156px;
}
#hs-torcer-para-ganhar .box-logged table .col2 {
	width: 156px;
}
#hs-torcer-para-ganhar .box-logged table .col3 {
	width: 156px;
}
#hs-torcer-para-ganhar .box-logged .aviso {
	width: 465px;
	padding:13px 13px;
	background: #375f99;
	font-size: 13px;
	color:#fff;
	float: right;
}
#hs-torcer-para-ganhar .wrong {
	border-color:#de142f !important;
}

#popupDificuldades {
	display: none;
}
#popupDificuldades ul {
	list-style-type: disc !important;
	padding-left: 20px;	
}
#popupDificuldades ul li {
	margin-bottom: 5px;
}

.banners-niver {
	text-align: center;
	width:876px;
	height: 120px;
	margin: 0 auto;
}
.banners-niver ul {
	width: auto;
	margin: 0 auto;
}
.banners-niver ul li {
	float: left;
	margin: 0 3px;
}

/* VENCEDORES */
ul.list-vencedores {
	width: 866px;
	padding-bottom: 20px;
}
ul.list-vencedores li {
	width: 866px;
	margin-bottom: 40px;
}
ul.list-vencedores li h3 {
	font-size: 22px;
}
ul.list-vencedores li p {
	font-size: 16px;
	margin-top: 10px;
}

/* CLASSES */
.clear { clear:both; }
.left { float:left; }
.right { float: right; }
.noMarginRight { margin-right:0 !important; }
.marginLeft10 { margin-left: 10px;}
.marginBottom10 { margin-bottom: 10px;}
.displayNone { display: none; }
.faq { font-size: 22px; margin-bottom: 10px !important;}
.textAlignCenter { text-align: center;}