.header .contact-helpMenu {
    background: #000;
    color: #fff;
}
.header .contact-helpMenu li, .header .contact-helpMenu a {
    color: #fff;
}
.header .contact-helpMenu li:first-child {
    border-left: none !important;
}
.header section {
    background: #000;
}
#bn-feature {
	width:807px;
    height: 447px;
    position: relative;
	background: url(../img/home/top-8h.jpg) no-repeat !important;
}
.timer-box, #btn-carta-compromisso {
	display:none !important;
}
#bn-feature #btn-carta-compromisso {
	display:block;
	width: 246px;
	height: 26px;
	position: absolute;
	bottom: 40px;
	right: 40px;
}
#btnLogo {
	display:block;
	width: 282px;
	height: 126px;
	position: absolute;
	top: 73px;
	left: 158px;
}
#btnOfertasOff {
	display:block;
	width: 252px;
	height: 218px;
	position: absolute;
	bottom: 128px;
	right: 40px;
}
#bn-subfeature ul li {
    float: left;
}
#bn-list-desc {
    margin-bottom: 0px;
}
#bn-list-desc li {
    float: left;
}
.bn-banners-home {
    clear: both;
    padding: 13px 0 30px;
}
.bn-banners-home li {
    float: left;
	margin-bottom: 13px;
}
.bn-banners-home li.right {
    float: right;
}
.bn-mini-banners-home li {
    float: left;
    margin-right: 19px;
}
.bn-mini-banners-home li:last-child {
    margin-right: 0px;
}
.bn-banner-home-full {
	clear:both;
	padding-top: 10px;
}

/* VITRINE */
.box-type2 .box-top {
    display: none;
}
.box-type2 .box-content {
    padding:0;
    border: none;
    border-radius: 0px;
}
.box-type2 .box-content .grid article {
    width: 24.7%;
	/* float: left; */
	display: inline-block;
	margin-bottom:30px;
}

/* APP TIMER*/
.timer-box {
    position: absolute;
    top: 270px;
	left: 166px;
}
.timer-box .bn-timer {
    font-size: 28px;
    color: #fff;
}
.timer-box .bn-timer > div {
    width: 52px;
    float: left;
    margin-right: 35px;
    text-align: center;
    letter-spacing: -3px;
}

.oferta24h-wrap {
	left: -400px !important;
}