<!--HS BEGIN-->
<style type="text/css">
#cr-shop-popup{
	width:500px;
	height:420px;
	background:url(http://img.shoptime.com.br/mktshop/home/lightbox/bg01.jpg) center top no-repeat;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#cr-shop-popup h1{
	width:432px;
	height:0;
	background:url(http://img.shoptime.com.br/mktshop/home/lightbox/txt01.jpg) center top no-repeat;
	padding-top:28px;
	overflow:hidden;
	float:right;
	margin-top:190px;
	margin-right:15px;
}
#cr-shop-popup > p {
	width: 372px;
	height: 0;
	background: url(http://img.shoptime.com.br/mktshop/home/lightbox/txt2.jpg) center top no-repeat;
	padding-top: 39px;
	overflow: hidden;
	float: right;
	margin-top: 8px;
	margin-right: 15px;
}
#cr-shop-popup .formShop{
	clear:both;
	float:right;
	margin-top:5px;
	margin-right:15px;
}
#cr-shop-popup .formShop .nomeTxt{
	display:block;
	background:url(http://img.shoptime.com.br/mktshop/home/lightbox/nome.jpg) center top no-repeat;
	height:0;
	width:42px;
	padding-top:11px;
	overflow:hidden;
	float:left;
	margin-right:24px;
	position:relative;
	top:5px;
}
#cr-shop-popup .formShop .emailTxt{
	display:block;
	background:url(http://img.shoptime.com.br/mktshop/home/lightbox/email.jpg) center top no-repeat;
	height:0;
	width:46px;
	padding-top:12px;
	overflow:hidden;
	float:left;
	margin-right:20px;
	position:relative;
	top:5px;
}
#cr-shop-popup .formShop .cr-name, #cr-shop-popup .formShop .cr-email{
	border:1px solid #f78b39;
	color:#000;
	font-size:14px;
	padding:2px 0 3px 5px;
	width:320px;
}
#cr-shop-popup .formShop .cr-name:focus, #cr-shop-popup .formShop .cr-email:focus{
	outline-color:#495099;
}
#cr-shop-popup .formShop .btn-brand{
	background:url(http://img.shoptime.com.br/mktshop/home/lightbox/cadastrar.jpg) center top no-repeat;
	height:0;
	padding-top:25px;
	width:143px;;
	overflow:hidden;
	border:none;
	cursor:pointer;
	float:right;
	margin-top:38px;
}
#cr-shop-popup .formShop .btn-brand:focus{
	outline:none;
}
#cr-shop-popup .cr-msg {
	height: 21px;
	position: absolute;
	top: 344px;
	left: 18px;
	background: #fff;
	color: #999999;
	font-size: 14px!important;
	vertical-align: baseline!important;
	text-align: center;
	display:none;
	z-index: 1;
}
#cr-shop-popup .cr-msg-title {
	margin-right:10px;
}
#cr-shop-popup .cr-msg-special {
	color:#ff6600!important;
}
#cr-shop-popup .btnPriva {
	display: block;
	background: url(http://img.shoptime.com.br/mktshop/home/lightbox/politica.jpg) center top no-repeat;
	width: 157px;
	height: 0;
	padding-top: 10px;
	overflow: hidden;
	position: absolute;
	bottom: 80px;
	right: 185px;
}
</style>

<div id="cr-shop-popup">
		<h1>Olá! Que bom que você está aqui!</h1>
		<p>Aproveite e cadastre seu e-mail para receber ofertas exclusivas para toda família!</p>
		<div class="formShop">
			<form class="app-cr-popup" data-cr-origin="40" data-cr-event-name="CR_TELEVENDAS" data-cr-event-id="9945" data-cr-opt="out" data-cr-confirmation="true">
				<div>
					<label for="nome" class="nomeTxt">Nome</label>
					<input type="text" name="cr-name" class="cr-name">
				</div>
				<div style="margin:10px 0;">
					<label for="email" class="emailTxt">E-mail</label>
					<input type="text" name="cr-email" class="cr-email">
				</div>
				<div>
					<input type="submit" value="cadastrar" id="sendinfo" class="btn-brand">
				</div>
			   <div class="cr-msg"></div>
			</form>
		</div>
		
		<a href="http://www.shoptime.com.br/HomeEstatica/politica-de-privacidade" class="btnPriva" target="_blank">Conheça nossa politica de privacidade</a>
</div>
<!--HS END-->
