#hs-marketplace #hsTitle {
	width:752px;
	height:78px;
	background:url(../img/logo.gif) no-repeat center bottom;
	margin-bottom:40px;
	margin-left:40px;
	padding-top:40px;
}
#hs-marketplace #boxInfo {
	width:100%;
	height:393px;
	background:url(../img/box-info-bg.jpg) no-repeat center center;
	margin-bottom:50px;
}
#hs-marketplace #boxInfo .text {
	width:446px;
	padding:40px 0 0 40px;
}
#hs-marketplace #boxInfo .text h2 {
	margin-left:0;
}
#hs-marketplace #boxInfo .text p {
	font-size:17px;
}
#hs-marketplace #listComoFunciona {
	height:315px;
	margin-left:22px;
	margin-bottom:50px;
}
#hs-marketplace #listComoFunciona li {
	float:left;
	width:165px;
	height:227px;
	padding:0 24px;
	padding-top: 84px;
	background:#f6f6f6;
	border-bottom:#acee00 solid 4px;
	font-size:16px;
}
#hs-marketplace #listComoFunciona li:nth-child(1) {
	background:#f6f6f6 url(../img/ico-1.gif) no-repeat center 18px;
}
#hs-marketplace #listComoFunciona li:nth-child(3) {
	background:#f6f6f6 url(../img/ico-2.gif) no-repeat center 18px;
}
#hs-marketplace #listComoFunciona li:nth-child(5) {
	background:#f6f6f6 url(../img/ico-3.gif) no-repeat center 18px;
}
#hs-marketplace #listComoFunciona li:nth-child(7) {
	background:#f6f6f6 url(../img/ico-4.gif) no-repeat center 18px;
}
#hs-marketplace #listComoFunciona li.divisoria { 
	width:24px;
	height:311px;
	padding:0;
	background:url(../img/seta.gif) no-repeat center center;
	border-bottom:none;
	font-size:20px;
	text-align:center;
}
#hs-marketplace #listComoFunciona li.divisoria strong {
	display:block;
	padding-top:150px;
} 
#hs-marketplace h2 {
	font-size:24px;
	margin-left:22px;
	margin-bottom:30px;
	clear:both;
}
#hs-marketplace #listBomParceiro {
	margin-left:22px;
	margin-bottom:50px;
}
#hs-marketplace #listBomParceiro li {
	float:left;
	font-size:13px;
	border-right:#e8e8e8 solid 1px;
	margin-right: 10px;
	padding-left: 0;
	padding-right: 6px;
}
#hs-marketplace #listBomParceiro li:first-child {
	padding-left:0;
}
#hs-marketplace #listBomParceiro li:last-child {
	border-right:none;
	margin-right:0px;
	padding-right:0px;
}
#hs-marketplace #listBomParceiro li .num { 
	font-size:24px;
	color:#acee00;
	float:left;
}
#hs-marketplace #listBomParceiro li .text { 
	float:left;
	width:164px;
	font-size:14px;
	padding-left:5px;
	padding-top: 9px;
}
#hs-marketplace #listBomParceiro li:first-child .text {
	width:120px;
}
#hs-marketplace .btn-parceiro {
	clear:both;
	display:block;
	width:390px;
	height:49px;
	background:url(../img/btn-parceiro.gif) no-repeat center center;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom:40px;
}

/* FORM */
#formMarketplace  {
	height:560px;
}	
#formMarketplace .col {
	float:left;
	margin-right:30px;
	border-right:#ccc solid 1px;
	padding-right:30px;
}
.form-title {
	width:615px;
	height:53px;
	background:url(../img/form-title.gif) no-repeat center center;
	margin-bottom:38px;
}
#formMarketplace .col span {
	display:block;
	margin-bottom:15px;
}
#hs-marketplace .col span h2 {
	margin-left:0;
}
#formMarketplace .col span label{
	display:block;
	margin-bottom:2px;
}
#formMarketplace .col span .text{
	width:393px;
	height:33px;
	background:#fbfbfb;
	border:#ccc solid 1px;
}
#formMarketplace .col span select{
	width:397px;
	height:33px;
	background:#fbfbfb;
	border:#ccc solid 1px;
}
.btn-cadastrar {
	display:block;
	width:184px;
	height:34px;
	background:url(../img/btn-cadastrar.gif) no-repeat center center;
	cursor:pointer;
}
.borderNone {
	border:none !important;
	margin:0px !important;
	padding:0px !important;
}
.formStatus {
	padding-top:10px;
	color:#f00;
	font-size:14px;
}
#cboxClose {
	width:14px !important;
	height:13px !important;
	background:url(../img/btn-close.gif) no-repeat center center !important;
	top: 10px !important;
	right:10px !important;
}
.wrong {
	border:#f00 solid 1px !important;
}