

<style>
    #cboxOverlay {
        -moz-opacity: 0.2!important;
        opacity: 0.2!important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=20)!important;
    }
    #JanelaCadastroModa{
        background:url(http://img.submarino.com.br/imagens/apps/hotsites/crgeral/imgs/BGCRGERAL.jpg);
        width:657px;
        height:321px;
        position:relative;
        font-family:Arial;
    }
    #JanelaCadastroModa h2{
        color:#ffcb08;
        font-size:24px;
        font-weight:normal;
        width:414px;
        float:right;
        margin:20px 0 0 0;
    }
    #JanelaCadastroModa h1{
        color:#00a9ea;
        font-weight:normal;
        font-size:17px;
        width:414px;
        float:right;
        margin:0;
    }
    #JanelaCadastroModa h1 strong{
        font-size:34px;
        font-weight:bold;
    }
    #JanelaCadastroModa	 .placeholder{
        position:absolute;
        right: 80px;
        height: 25px;
        width: 260px;
        border: none;
        line-height:25px;
        outline:none;
    }
    #JanelaCadastroModa	#crHomeFeaturedName{
        top: 162px;
    }
    #JanelaCadastroModa #crHomeFeaturedEmail{
        top:203px;
    }
    #JanelaCadastroModa .btn-brand{
        font-size: 12px;
        color: #fff;
        border: none;
        background: none;
        position: absolute;
        bottom: 38px;
        display: block;
        width: 120px;
        right: 230px;
        text-align: center;
        cursor:pointer;
    }
    #JanelaCadastroModa .politicadeprivacidade{
        color: #fff;
        font-size: 9px;
        position: absolute;
        bottom: 30px;
        right: 70px;
    }
    #JanelaCadastroModa .cr-error .cr-msg{
        position:absolute;
        background:url(http://img.submarino.com.br/imagens/apps/hotsites/crgeral/imgs/emailinvalido.png) no-repeat top center;
        right:70px;
        bottom:90px;
        width: 270px;
        height: 50px;
        font-size:0;
        line-height:0;
        text-indent:-999em;

    }
    #JanelaCadastroModa .cr-complete .cr-msg .cr-msg-title-wrapper{
        width: 390px;
        height: 112px;
        background: #fff;
        float: right;
        display: block;
        position: absolute;
        right: 30px;
        top:22px;
        color:#ffcb08;
        font-size:48px;
        line-height:170px;
        text-indent:70px;
    }
    #JanelaCadastroModa .cr-complete .cr-msg-title-wrapper .cr-msg-title{
        font-size:50px;
    }
    #JanelaCadastroModa .cr-complete .cr-msg .cr-msg-body{
        font-size: 18px;
        color: #fff;
        position: absolute;
        background: #00a9ea;
        width: 285px;
        height: 92px;
        right: 60px;
        bottom: 75px;
        padding-left: 78px;
    }
    #JanelaCadastroModa  .BtnFecharFancy{ display:none;}
    #JanelaCadastroModa .cr-complete .BtnFecharFancy{
        position:absolute;
        background:url(http://img.submarino.com.br/imagens/apps/hotsites/crgeral/imgs/BtFechar.jpg);
        position: absolute;
        width: 148px;
        height: 58px;
        bottom: 10px;
        right: 215px;
        text-indent:-999em;
        font-size:0;
        line-height:0;
        display:block;
        cursor:pointer;
    }
</style>

<script type="text/javascript" src="http://img.submarino.com.br/imagens/apps/arquivos/appcr.js"></script>
<script type="text/javascript">
    /*$(".btn-brand").click(function() {
        $.cookie('crhome', true, { expires: 365 , path: '/'  });
    });
    $("#cboxClose").click(function() {
        $.cookie('crhome', true, { expires: 1 , path: '/'  });
    });*/

</script>

<div id="JanelaCadastroModa">
    <h2>Seja bem-vindo ao Submarino!</h2>
    <h1><strong>Deixe seu e-m@il aqui</strong> </br>
        e fique por dentro dos produtos que você
        mais curte, com o melhor serviço da internet.</h1>

    <form class="app-cr"
          data-cr-origin="30"
          data-cr-event-name="POP_UP_NOVO_HOME"
          data-cr-event-id="4765"
          data-cr-opt="out"
          data-cr-confirmation="true">
        <input type="text" placeholder="Digite seu nome." name="cr-name" id="crHomeFeaturedName" class="placeholder"/>
        <input type="text" placeholder="Digite seu e-mail." name="cr-email" id="crHomeFeaturedEmail" class="placeholder"/>
        <input type="button" value="Cadastrar" class="btn-brand"/>
        <div class="cr-msg"></div>
        <a href="javascript:;" onclick="$('#colorbox,#cboxOverlay').remove();" class="BtnFecharFancy">Fechar</a>
    </form>

    <a href="http://www.submarino.com.br/hotsite/politica-de-privacidade" target="_blank" class="politicadeprivacidade">política de privacidade</a>

</div>